body {
	background-image:
		url("file:///Users/chrisgehrke/SD/Java/stsworkspace/MVCProject/WebContent/images/WineCountryBackground.jpg");
	height: 100%;
	background-position: right;
	background-repeat: no-repeat;
	background-size: cover;
}

h1{
	text-align: center;
	border: 5px solid black;
	color: RebeccaPurple;
}

p{
	text-align: left;
}

a:hover{
	color:black;
}

a:link {
    color: cadetblue;