body {
	background-image:
		url("file:///Users/chrisgehrke/SD/Java/stsworkspace/MVCProject/WebContent/images/WineCountryBackground.jpg");
	height: 100%;
	background-position: right;
	background-repeat: no-repeat;
	background-size: cover;
}

#MainHeader {
	background-color: teal;
}
#allWines {
	background-color: teal;
}


h1{
	text-align: center;
	border: 5px solid black;
	color: RebeccaPurple;
}
#img2 {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 150px; /* Set a small width */
}

/* Add a hover effect (blue shadow) */
img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

p{
	text-align: left;
}


a:link {
    color: cadetblue;
}
    
a:hover{
	color:purple;
}
